<div class="mt-2 mt-4 mt-6 mt-8 mt-16 ms-2 ms-4 ms-8 ms-16">margins</div>
<div class="pt-2 pt-4 pt-6 pt-8 pt-16 ps-2 ps-4 ps-8 ps-16">paddings</div>
<div class="grid grid-cols-2 grid-cols-3 gap-4 md:grid-cols-2">grids</div>
<div class="min-w-[200px] min-w-[300px] min-w-[400px] max-w-[200px] max-w-[400px] no-wrap">min-widths</div>
<div class="text-right md:inline-flex lg:grid lg:grid-cols-2 justify-end truncate">text-align</div>
<div class="sticky top-0 top-1 top-2 top-3 top-4 bottom-0 bottom-1 bottom-2 bottom-3 bottom-4 z-10">sticky</div>
<div class="drop-shadow-md drop-shadow-lg drop-shadow-xl">drop shadows</div>